<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<form action="/logIn.js">
  <input type="text" name="email" value="Email">
  <br>
  <input type="text" name="password" value="Password">
  <br>
  <input type="submit" value="Log In">
</form>
<br>
<br>
<form action="/signUp.js">
  <input type="text" name="email" value="Email">
  <br>
  <input type="text" name="password" value="Password">
  <br>
  <input type="submit" value="Sign Up">
</form>


  <script src="/script.js" type="text/javascript"></script>
</body>
</html>
